{{ $src :=  .Get "src"}}
{{ $link :=  .Get "link"}}

{{ if $link }}
<a href="{{ $link }}">{{ $link }}</a><br /><br />
{{ end }}

<iframe src="{{ $src }}" style="width:100%; height: 950px; border: 0;"></iframe>