<div class="accordion">

    {{if gt (len .Resources) 0}}
        <h2 class="header">&#709; Resources 📂</h2>
        <div>
            <ul>
                {{ range .Resources }}
                    <li><a href="{{ .Permalink }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    {{ end }}


    {{ $currentPage := . }}
    {{ $jsonFile := "" }}
    {{ $currentPagemd5 := md5 $currentPage.File.Path }}
    {{ $currentPagemd5ext := (print $currentPagemd5 ".json")}}
    {{ $files := readDir "data/commits/" }}
    {{if gt (len $files ) 0}}
    <h2 class="header">&#709; Page changelog 📖</h2>
    <div>
        {{ range $files }}
            {{ if eq .Name $currentPagemd5ext }}
                {{ $jsonFile := $currentPagemd5 }}
                {{ $data := index $.Site.Data.commits $jsonFile }}
                <ul>
                    {{ range $data }}
                        <li>
                            {{ dateFormat "2006-01-02" .commit_date }}: <a href="https://gitlab.com/hsbxl/site/commit/{{ .commit }}"><strong>{{ trim .message "\n" }}</strong></a> ({{ .author }})
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}
    </div>
    {{ end }}



</div>



<div class="editpage">
    [<a href="{{ .Site.Params.giteditpath }}/{{ .File.Path }}?commit_message=Edit {{ .File.Path }}">Edit this page</a>]
    <a href="https://gitlab.com/hsbxl/site"><img class="content_image" src="{{ .Site.BaseURL }}images/build_vw.svg"></a>
</div>


<div id="chatbox" style="width: 137px;position: fixed;bottom: 0;right: 0;padding: 0 0 0 10px;background: black;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

    <a href="https://matrix.to/#/#hsbxl:matrix.org">HSBXL CHAT→
        <div class="chatimg" style="height: 50px; background-image: url(/images/chat.png); background-size: cover; background-position: 0 40%;"></div>
    </a>


</div>

</div>
</div>

{{ partial "footer.html" . }}
</body>
</html>
