
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">

<title>{{ .Title }}</title>
{{ hugo.Generator }}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{{ "<!-- isso -->" | safeHTML }}
<script data-isso="https://isso.hsbxl.be/"
        src="https://isso.hsbxl.be/js/embed.min.js"></script>
{{ "<!-- end isso -->" | safeHTML }}


<script>
    $( function() {
        $( ".accordion" ).accordion({
            collapsible: true,
            active: false
        });
    } );
</script>


<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" type="text/css">
<link  href="{{ .Site.BaseURL }}/css/theme.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.css">
